## Imports

In [6]:
import pandas as pd

## Data

In [7]:
topic_file = '../raw_data/embeddings/berttopic/BERTopicInfo_3_3_RawTitle.csv'
df_topic = pd.read_csv(topic_file)
df_topic

     Topic  Count                                               Name
0       -1  36856  -1_donald trump is_breitbart donald trump_dona...
1        0   1803  0_health care bill_to repeal obamacare_to repl...
2        1   1787  1_trump and russia_ties to russia_russian medd...
3        2   1158  2_breitbart bernie sanders_bernie sanders is_b...
4        3   1084  3_hillary clinton is_breitbart hillary clinton...
..     ...    ...                                                ...
743    742     15  742_being held hostage_held hostage in_end hos...
744    744     15  744_nomination obama stumping_to boost clinton...
745    745     15  745_hottest year ever_the hottest year_was the...
746    741     15  741_threat to donald_trump hedgefund honcho_th...
747    746     15  746_party on the_grand old party_the parties i...

[748 rows x 3 columns]

In [8]:
#df_topic[df_topic['Topic'] == -1].drop(axis=1)
df_topic.drop(index=0, inplace=True)
df_topic.reset_index(inplace=True, drop=True)
df_topic

     Topic  Count                                               Name
0        0   1803  0_health care bill_to repeal obamacare_to repl...
1        1   1787  1_trump and russia_ties to russia_russian medd...
2        2   1158  2_breitbart bernie sanders_bernie sanders is_b...
3        3   1084  3_hillary clinton is_breitbart hillary clinton...
4        4    897  4_trumps immigration order_trumps immigration ...
..     ...    ...                                                ...
742    742     15  742_being held hostage_held hostage in_end hos...
743    744     15  744_nomination obama stumping_to boost clinton...
744    745     15  745_hottest year ever_the hottest year_was the...
745    741     15  741_threat to donald_trump hedgefund honcho_th...
746    746     15  746_party on the_grand old party_the parties i...

[747 rows x 3 columns]

In [9]:
df_first = df_topic.head(1).copy()
df_topic.drop(index=0, inplace=True)
df_topic.reset_index(inplace=True, drop=True)
df_topic

     Topic  Count                                               Name
0        1   1787  1_trump and russia_ties to russia_russian medd...
1        2   1158  2_breitbart bernie sanders_bernie sanders is_b...
2        3   1084  3_hillary clinton is_breitbart hillary clinton...
3        4    897  4_trumps immigration order_trumps immigration ...
4        5    641  5_the muslim brotherhood_radical islamic terro...
..     ...    ...                                                ...
741    742     15  742_being held hostage_held hostage in_end hos...
742    744     15  744_nomination obama stumping_to boost clinton...
743    745     15  745_hottest year ever_the hottest year_was the...
744    741     15  741_threat to donald_trump hedgefund honcho_th...
745    746     15  746_party on the_grand old party_the parties i...

[746 rows x 3 columns]

In [10]:
df_first

   Topic  Count                                               Name
0      0   1803  0_health care bill_to repeal obamacare_to repl...

In [11]:
df_even = df_topic.iloc[::2].copy()  # even
df_even.sort_values(by='Topic', ascending=False, inplace=True)
df_even

     Topic  Count                                               Name
742    744     15  744_nomination obama stumping_to boost clinton...
744    741     15  741_threat to donald_trump hedgefund honcho_th...
734    740     15  740_visit to hiroshima_obamas hiroshima visit_...
738    739     15  739_london mayor after_on london mayor_london ...
740    738     15  738_removed from post_secret service director_...
..     ...    ...                                                ...
8        9    520  9_trump rally in_donald trump rally_breitbart ...
6        7    565  7_gun control breitbart_gun control groups_oba...
4        5    641  5_the muslim brotherhood_radical islamic terro...
2        3   1084  3_hillary clinton is_breitbart hillary clinton...
0        1   1787  1_trump and russia_ties to russia_russian medd...

[373 rows x 3 columns]

In [12]:
df_odd = df_topic.iloc[1::2]  # odd
df_odd

     Topic  Count                                               Name
1        2   1158  2_breitbart bernie sanders_bernie sanders is_b...
3        4    897  4_trumps immigration order_trumps immigration ...
5        6    591  6_york times the_york times in_york times how_...
7        8    557  8_final presidential debate_first presidential...
9       10    487  10_breitbart ted cruz_ted cruz is_trump ted cr...
..     ...    ...                                                ...
737    737     15  737_why smartphones are_about smartphones this...
739    743     15  743_spot eating disorders_skipping the gym_out...
741    742     15  742_being held hostage_held hostage in_end hos...
743    745     15  745_hottest year ever_the hottest year_was the...
745    746     15  746_party on the_grand old party_the parties i...

[373 rows x 3 columns]

In [13]:
df_even = pd.concat([df_even, df_first], ignore_index=True)
df_even

     Topic  Count                                               Name
0      744     15  744_nomination obama stumping_to boost clinton...
1      741     15  741_threat to donald_trump hedgefund honcho_th...
2      740     15  740_visit to hiroshima_obamas hiroshima visit_...
3      739     15  739_london mayor after_on london mayor_london ...
4      738     15  738_removed from post_secret service director_...
..     ...    ...                                                ...
369      7    565  7_gun control breitbart_gun control groups_oba...
370      5    641  5_the muslim brotherhood_radical islamic terro...
371      3   1084  3_hillary clinton is_breitbart hillary clinton...
372      1   1787  1_trump and russia_ties to russia_russian medd...
373      0   1803  0_health care bill_to repeal obamacare_to repl...

[374 rows x 3 columns]

In [14]:
df_even = pd.concat([df_even, df_odd], ignore_index=True)
df_even

     Topic  Count                                               Name
0      744     15  744_nomination obama stumping_to boost clinton...
1      741     15  741_threat to donald_trump hedgefund honcho_th...
2      740     15  740_visit to hiroshima_obamas hiroshima visit_...
3      739     15  739_london mayor after_on london mayor_london ...
4      738     15  738_removed from post_secret service director_...
..     ...    ...                                                ...
742    737     15  737_why smartphones are_about smartphones this...
743    743     15  743_spot eating disorders_skipping the gym_out...
744    742     15  742_being held hostage_held hostage in_end hos...
745    745     15  745_hottest year ever_the hottest year_was the...
746    746     15  746_party on the_grand old party_the parties i...

[747 rows x 3 columns]

In [15]:
from LeWagon_FinalProject.topic_prepare_graph import TopicPrepareGraph

In [16]:
topic_file = '../raw_data/embeddings/berttopic/BERTopicInfo_3_3_RawTitle.csv'
topic = TopicPrepareGraph()

df_ = topic.prepare_most_important_center(topic_file)
df_.iloc[370:379]

     Topic  Count                                               Name
370      5    641  5_the muslim brotherhood_radical islamic terro...
371      3   1084  3_hillary clinton is_breitbart hillary clinton...
372      1   1787  1_trump and russia_ties to russia_russian medd...
373      0   1803  0_health care bill_to repeal obamacare_to repl...
374      2   1158  2_breitbart bernie sanders_bernie sanders is_b...
375      4    897  4_trumps immigration order_trumps immigration ...
376      6    591  6_york times the_york times in_york times how_...
377      8    557  8_final presidential debate_first presidential...
378     10    487  10_breitbart ted cruz_ted cruz is_trump ted cr...

In [ ]:
calc_mean = df_topic.shape[0]//2
calc_mean

In [ ]:
df_mean = df_topic[0:calc_mean].copy()
df_mean

In [ ]:
df_mean.sort_values(by='Topic', ascending=False, inplace=True)
df_mean

In [ ]:
df_end = df_topic[calc_mean:df_topic.shape[0]].copy()
df_end

In [ ]:
df_mean = pd.concat([df_mean, df_first], ignore_index=True)
df_mean

In [ ]:
df_mean = pd.concat([df_mean, df_end], ignore_index=True)
df_mean